.App {
  text-align: center;
}

.inputField {
  margin: 1%;
  padding: 1%;
}
.inputField input {
  padding: 0.5%;
}
.btn button {
  margin: 1%;
  padding: 1% 1.5%;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #808080;
}
.orange {
  background-color: rgb(245, 79, 19);
  color: white;
}
.blue {
  background-color: rgb(28, 114, 243);
  color: white;
}
